.row {
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

.garage_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.garage_btns {
    display: grid;
    grid-template-columns: auto auto;
    align-self: start;
    gap: 5px;
}

.garage_btns button {
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.select_btn {
    border: 2px solid #61ADB3;
    color: #5dced6;
}

.remove_btn {
    border: 2px solid #B361A0;
    color: #B361A0;
}

.a_btn {
    border: 2px solid #27ED55;
    color: #27ED55;
}

.b_btn {
    border: 2px solid #FFB8B2;
    color: #FFB8B2;
}

.car_container {
    width: 70px;
    height: 50px;
}

.car_img {
    position: absolute;
    top: 3px;
    width: 90px;
    height: 70px;
    rotate: 180deg;
    border: 2px solid;
    border-radius: 5px;
}

.car_name {
    position: absolute;
    left: 280px;
}

.car_name {
    font-family: "Raleway Dots", sans-serif;
    color: white;
    font-size: 22px;
}
