.logo,
.arrow_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  padding: 50px 100px;
}

.header_container {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header_btn {
  padding: 10px 5px;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.garage {
  border: 3px solid #61adb3;
  color: #5dced6;
}

.garage:hover {
  -webkit-box-shadow: 0px 0px 52px 2px rgba(93, 206, 214, 1);
  -moz-box-shadow: 0px 0px 52px 2px rgba(93, 206, 214, 1);
  box-shadow: 0px 0px 52px 2px rgba(93, 206, 214, 1);
}

.winners {
  border: 3px solid #b361a0;
  color: #b361a0;
}

.winners:hover {
  -webkit-box-shadow: 0px 0px 52px 2px rgba(179, 97, 160, 1);
  -moz-box-shadow: 0px 0px 52px 2px rgba(179, 97, 160, 1);
  box-shadow: 0px 0px 52px 2px rgba(179, 97, 160, 1);
}

.header_logo_container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .arrow_wrapper {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .header {
    padding: 10px;
  }

  .header_container {
    display: flex;
    flex-direction: column-reverse;
  }

  .header_buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
