* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../src/imgs/img/vecteezy_brick-pattern-wallpaper-brick-wall-background-blue-brick_20735845.jpg);
  min-width: 600px;
}

button {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 100;
  transition: scale 0.1s;
}

button:active {
  scale: 1.1;
}
